body {
    background-color: antiquewhite;
}

tr {
    margin-bottom: 10px;
}

#form1 {
    background-color: azure;
    width: 270px;
    box-shadow: black 2px 2px 12px;
}
#form2 {
    background-color:  darkorange;
    width: 270px;
    box-shadow: black 2px 2px 12px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}

#btnSub {
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 7px;
    background-color: oldlace;
    color: black;
    font-weight:bold;
    width: 80px;
}

#btnSubDrop {
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px;
    background-color: darkgrey;
    color: black;
    font-weight: bold;
    width: 80px;
    margin-left:5px;
}
